<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sign In</title>
</head>
<body>

<form action="/sign_in" method="POST">

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter email" name="email" required>

    <label for="pass"><b>Password</b></label>
    <input type="text" placeholder="Enter Password" name="p" required>

    <input type="submit" value="Login">

</form>



</body>
</html>