<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sign Up</title>
</head>
<body>


<form action="/" method="POST" style="border:1px solid #ccc">
    <h1>Sign Up</h1>
    <p>Fill in this form to create an account:</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="password"><b>Password</b></label>
    <input type="text" placeholder="Enter Password" name="p" required>

    <label for="name"><b>full_name</b></label>
    <input type="text" placeholder="Enter name" name="full_name" required>

    <label for="username"><b>username</b></label>
    <input type="text" placeholder="Enter username" name="username" required>

    <input type="submit" value="Sign up">
    
  
</form>

<a href="/sign_in">Already have an account? Sign in here</a>

</body>

</html>